:root {
  --cor-fundo-form: #f58a33;
  --cor-titulo-form: #000;
  --cor-botao-form: #4f46e5;
  --cor-text-botao-form: #ffffff;
  --cor-fundo-input-form: #ffffff;
  --cor-bord-input-botao: #ccc;
  --cor-link: #6b7280;
  --cor-popup-box: rgba(0, 0, 0, 1);
  --cor-form-box1: rgba(0, 0, 0, 0.1);
  --cor-form-box2: rgba(0, 0, 0, 0.05);
  --cor-input-container-box: rgba(0, 0, 0, 0.05);
  --cor-popup-sucess-fundo: #edfbd8;
  --cor-popup-sucess-border: #84d65a;
  --cor-popup-sucess-text: #2b641e;
  --cor-popup-error-fundo: #fef2f2;
  --cor-popup-error-border: #f87171;
  --cor-popup-error-text: #991b1b;
  --cor-fundo-navbar: #f58a33;
  --cor-text-links: #4f46e5;
  --cor-text-link-navbar: #ffffff;
  --cor-border-menu: #ccc;
  --cor-hamburguer: #4f46e5;
  --cor-link-hover: #ffffff;
  --cor-botao-hover: #ffffff;
  --cor-texto-botao-hover: #f58a33;
}
