:root {
  --cor-fundo-form: #f58a33;
  --cor-titulo-form: #000;
  --cor-botao-form: #4f46e5;
  --cor-text-botao-form: #ffffff;
  --cor-fundo-input-form: #ffffff;
  --cor-bord-input-botao: #ccc;
  --cor-link: #6b7280;
  --cor-popup-box: rgba(0, 0, 0, 1);
  --cor-form-box1: rgba(0, 0, 0, 0.1);
  --cor-form-box2: rgba(0, 0, 0, 0.05);
  --cor-input-container-box: rgba(0, 0, 0, 0.05);
  --cor-popup-fundo: #eaeaea;
  --cor-popup-green-border: green;
  --cor-popup-green-text: green;
  --cor-popup-red-border: red;
  --cor-popup-red-text: red;
  --cor-popup-orange-border: orange;
  --cor-popup-orange-text: orange;
  --cor-popup-blue-border: #4f46e5;
  --cor-popup-blue-text: #4f46e5;
  --cor-popup-load-border: #75FB4C;
  --cor-popup-load-text: #666666;
  --cor-popup-btclose: #dc3545;
  --cor-popup-btclose-hover: #ca182a;
  --cor-popup-error-text: #991b1b;
  --cor-fundo-navbar: #f58a33;
  --cor-text-links: #4f46e5;
  --cor-text-link-navbar: #ffffff;
  --cor-border-menu: #ccc;
  --cor-hamburguer: #4f46e5;
  --cor-link-hover: #ffffff;
  --cor-botao-hover: #ffffff;
  --cor-texto-botao-hover: #f58a33;
}
