.user-info {
  background-color: var(--cor-fundo-input-form);
  padding: 20px;
  width: 90%;
  box-sizing: border-box;
  text-align: center;
}

.form {
  background-color: var(--cor-fundo-form);
  display: block;
  padding: 16px;
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px var(--cor-form-box1),
    0 4px 6px -2px var(--cor-form-box2);
}

.form a:hover {
  color: var(--cor-fundo-input-form); 
}

.form button:hover {
  background-color: var(--cor-titulo-form); 
  color: var(--cor-fundo-form); 
  cursor: pointer;
}

.form-title {
  margin: 2px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: var(--cor-titulo-form);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.meu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid var(--cor-bord-input-botao);
  margin: 8px 0;
}

.input-container input {
  box-sizing: border-box;
  background-color: var(--cor-fundo-input-form);
  padding: 10px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 10px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 var(--cor-input-container-box);
}

.input-container p {
  font-size: 10px;
  margin: 0;
}

.submit {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--cor-botao-form);
  color: var(--cor-text-botao-form);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  width: 95%;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
}

.checkbox-container input[type="checkbox"] {
  outline: none;
  border: 1px solid var(--cor-bord-input-botao);
}

.checkbox-container label {
  margin: 0;
  font-size: 12px;
}

.signup-link {
  color: var(--cor-link);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}
