@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

body,
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  background-color: var(--cor-fundo-navbar);
  padding: 5px;
  position: fixed;
  width: 100%;
  display: flex;
  height: 45px;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  width: 150px;
  display: flex; 
  align-items: center;
}

.logo p {
  margin-left: 5px;
  font-family: 'Seymour One', sans-serif;
  color: var(--cor-hamburguer);
}

.logo img {
  width: 40px;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

.navbar label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 60px;
  margin-right: 10px;
}

.navbar label span {
  position: absolute;
  display: block;
  height: 8px;
  width: 100%;
  border-radius: 30px;
  background: var(--cor-hamburguer);
  transition: 0.25s ease-in-out;
}

.navbar label span:nth-child(1) {
  top: 3;
}

.navbar label span:nth-child(2) {
  top: 16px;
}

.navbar label span:nth-child(3) {
  top: 32px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 18px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 18px;
}

.navbar .navbar-links {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 10px;
  width: 100%;
  margin-left: auto;
}

.menu-link {
  margin: 0 15px;
  color: var(--cor-text-link-navbar);
  text-decoration: none;
  margin-right: 10px;
  font-size: 22px;
}

.menu-text {
  color: black;
  padding: 0;
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 20px;
}

.menu-link:hover {
  color: var(--cor-text-links);
}

@media (max-width: 700px) {
  .navbar .navbar-links,.dropdown {
    display: none;
  }

  #menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--cor-fundo-navbar);
    width: 100%;
    padding: 0;
    border: 1px solid var(--cor-border-menu);
  }

  #menu a {
    display: block;
    border-bottom: 1px solid var(--cor-border-menu);
    padding: 5px 10px;
  }
}

#checkbox-menu:checked ~ #menu {
  display: block;
}

#checkbox-menu:checked ~ .navbar-links .dropdown-content {
  display: block;
}

@media (min-width: 700px) {
  label[for="checkbox-menu"] {
    display: none;
  }

  .dropdown-text {
    display: none;
  }

  #menu {
    display: flex;
    flex-direction: row;
    position: static;
    border: none;
    background-color: transparent;
    width: auto;
    padding: 0;
  }

  #menu a {
    border: none;
    padding: 0;
  }
}

.botton-dropdown {
  margin: 0;
  text-decoration: none;
}
.img-account {
  display: inline-block;
  position: relative;
}
.img-overlap {
  display: inline-block;
  position: relative;
  left: -20px;
}
.img-overlap:hover {
  filter: invert(25%) sepia(95%) saturate(7500%) hue-rotate(245deg)
    brightness(90%);
}
.dropdown_ativo {
  filter: invert(25%) sepia(95%) saturate(7500%) hue-rotate(245deg)
    brightness(90%);
}

.dropdown-content {
  position: absolute;
  background-color: var(--cor-fundo-navbar);
  right: 5px;
  margin: 0;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0 10px;
  z-index: 1;
}

.dropdown-content a {
  color: var(--cor-text-link-navbar);
  padding: 8px 8px;
  text-decoration: none;
  display: block;
  font-size: 18px;
}
.dropdown-content p {
  color: var(--cor-titulo-form);
  padding: 5px;
  font-size: 18px;
  margin-right: 5px;
  margin-top: 2px;
}

#conteudo {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-message {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--cor-popup-fundo);
  border: 1px solid;
  box-shadow: 0 10px 20px var(--cor-form-box1), 0 6px 6px var(--cor-form-box2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.popup-icon,
.close-icon {
  width: auto;
}

.message {
  flex-grow: 1;
  margin: 0 10px;
  font-size: 11px;
}

.close-icon button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: var(--cor-popup-btclose);
  color: var(--cor-text-botao-form);
  cursor: pointer;
}

.close-icon button:hover {
  background-color: var(--cor-popup-btclose-hover);
}

/* Classes de cores */
.agreen {
  color: var(--cor-popup-green-text);
  border-color: var(--cor-popup-green-border);
}

.ared {
  color: var(--cor-popup-red-text);
  border-color: var(--cor-popup-red-text);
}

.aorange {
  color: var(--cor-popup-orange-text);
  border-color: var(--cor-popup-orange-border);
}

.ablue {
  color: var(--cor-popup-blue-text);
  border-color: var(--cor-popup-blue-border);
}

.aload {
  color: var(--cor-popup-load-text);
  border-color: var(--cor-popup-load-border);
}

/* Fundo escurecido */
.overlay {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de transparência */
  z-index: 9998;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  border: 5px solid var(--cor-popup-fundo); /* Cor de fundo */
  border-top: 5px solid var(--cor-popup-load-border); /* Cor do spinner */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
