@import url("cores.css");

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  background-color: var(--cor-fundo-navbar);
  padding: 5px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.navbar a {
  color: var(--cor-text-link-navbar);
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
}
.navbar a:last-child {
  margin-right: 0;
}
.navbar a:hover {
  color: var(--cor-text-links);
}
.navbar div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 10px;
  width: 100%;
}
.navbar div a {
  margin: 0 10px; /* Adiciona uma margem de 10px à esquerda e à direita de cada link */
}
.navbar img {
  width: 25px;
}
#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
  margin-right: 10px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: var(--cor-hamburguer);
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}
@media (max-width: 600px) {
  .navbar div {
    display: none;
  }
  #menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--cor-fundo-navbar);
    width: 100%;
    padding: 0;
    border: 1px solid var(--cor-border-menu);
  }

  #menu a {
    display: block;
    border-bottom: 1px solid var(--cor-border-menu);
    padding: 5px 10px;
  }
}
#checkbox-menu:checked ~ #menu {
  display: block;
}

@media (min-width: 600px) {
  label[for="checkbox-menu"] {
    display: none;
  }
  #menu {
    display: flex;
    flex-direction: row;
    position: static;
    border: none;
    background-color: transparent;
    width: auto;
    padding: 0;
  }
  #menu a {
    border: none;
    padding: 0;
  }
}

.menu-link.active {
  color: var(--cor-text-links); /* Substitua '--cor-link-ativo' pela cor desejada */
}

.content {
  margin-top: 50px;
  padding: 30px;
}

#conteudo {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
