.user-info {
  background-color: var(--cor-fundo-input-form);
  padding-top: 20px;
  width: 100%; /* Ocupa 90% da largura da tela */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
  text-align: center;
}

.user-info h1 {
  color: var(--cor-titulo-form);
  font-size: 24px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  background: var(--cor-botao-form);
  font-family: "Courier New", Courier, monospace;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}

.table__title {
  color: var(--cor-text-link-navbar);
  font-weight: bold;
  padding: 5px 10px;
  font-size: 22px;
}

.table__title .tex-qtd-itens {
  font-size: 16px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espaço entre os cards */
  justify-content: center; /* Centraliza os cards horizontalmente */
}

.card {
  margin: 2.5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 230px;
  background: var(--cor-popup-fundo);
  border: 1px solid var(--cor-botao-form);
  border-radius: 5px;
}

.card-imagem {
  /* Estilos para a moldura interna (imagem) */
  margin-top: 5px;
  width: 100%;
  height: 50%;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-sizing: border-box; /* Adicionado para incluir o padding no tamanho total */
  padding: 5px; /* Adicionado para criar um espaço ao redor da imagem */
}

.productTitle {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--cor-titulo-form);
  font-family: Arial, sans-serif;
  width: 100%;
  height: 9%;
}

.cost {
  text-align: center;
  font-weight: bold;
  color: var(--cor-popup-green-text);
  font-family: Arial, sans-serif;
  font-size: 20px;
  width: 100%;
  height: 13%;
}
.qtd-estoque {
  text-align: center;
  font-weight: bold;
  color: var(--cor-popup-btclose);
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 8%;
}

.addtocart {
  border-top: 2px solid var(--cor-fundo-form);
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-radius: 0 0 5px 5px;
  color: var(--cor-botao-form);
  font-weight: bold;
  font-size: 14px;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 20%;
  background: none;
}

.addtocart:hover {
  background: var(--cor-fundo-form);
  border-top: 2px solid var(--cor-botao-form);
  color: var(--cor-fundo-input-form);
  /* mudar o curdor do mouse */
  cursor: pointer;
}

.desativado {
  opacity: 0.5;
  pointer-events: none;
}

.form {
  display: block;
  padding: 2px;
  max-width: 250px;
}

.question {
  width: 250px;
}

.form button:hover {
  background-color: var(--cor-titulo-form); 
  color: var(--cor-fundo-form); 
  cursor: pointer;
}

.form-title {
  margin: 2px;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  width: 150px;
  color: var(--cor-titulo-form);
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.meu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid var(--cor-bord-input-botao);
  margin: 8px 0;
}

.input-container input {
  box-sizing: border-box;
  background-color: var(--cor-fundo-input-form);
  padding: 5px;
  padding-right: 10px;
  font-size: 16px;
  line-height: 10px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 var(--cor-input-container-box);
}

.submit {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--cor-botao-form);
  color: var(--cor-text-botao-form);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  width: 95%;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}
